.App {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.info{
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}